<form [formGroup]="generatePasswordForm" (submit)="submit()">
  <mat-label>Length</mat-label><br />
  <mat-slider thumbLabel min="16" max="256" step="1" [(value)]="passwordLengthValue" formControlName="passwordLength" tickInterval="16"></mat-slider>&nbsp;&nbsp;{{ passwordLengthValue }}<br />
  <mat-checkbox formControlName="symbols">Symbols</mat-checkbox><br />
  <mat-checkbox formControlName="numbers">Numbers</mat-checkbox><br />
  <mat-checkbox formControlName="lowerCase">Lower-case</mat-checkbox><br />
  <mat-checkbox formControlName="upperCase">Upper-case</mat-checkbox><br />
  <ng-container *ngIf="submitted">
    <mat-form-field>
      <textarea matInput #password [value]="generatedPassword" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <button mat-icon-button type="button" color="accent" (click)="copyToClipboard()" matTooltip="Copy to clipboard"><mat-icon>content_copy</mat-icon></button>
  </ng-container>
  <br />
  <button mat-flat-button type="submit" color="accent">Generate</button>
</form>